<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}App{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='ooo.css') }}">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <nav class="top-nav">
        <div class="logo">
            <span class="icon">⌂</span> home
        </div>

        <div class="nav-links">
            <a href="/home">home</a>
            {% if not session.user %}
            <a href="/register">register</a>
            {% endif %}
            {% if session.user %}
            <a href="/logout">logout</a>
            {% else %}
            <a href="/login">login</a>
            {% endif %}
            {% if session.role == 'master' %}
                {% if request.path == '/admin' %}
                <a href="/notes" class="accent">notes</a>
                {% else %}
                <a href="/admin" class="accent">admin panel</a>
                {% endif %}
            {% endif %}
            <a href="/delete" class="danger">delete</a>
        </div>
    </nav>

    <div class="theme-toggle">
        <button onclick="changeMode()">Change Mode</button>

        <script>
            function changeMode() {
                document.body.classList.toggle("dark");
            }
        </script>
    </div>

    {% block content %}{% endblock %}
</body>

</html>

